<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>导入excel页面</title>

    <link th:href="@{~/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/css/fixed-footer.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{~/js/html5shiv.min.js}"></script>
    <script th:src="@{~/js/respond.min.js}"></script>
    <script th:src="@{~/js/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/toastr.min.js}"></script>
</head>
<body>
<div th:replace="common/nav :: nav"></div>
<div class="container" style="text-align: center;">
    <div >
        <h1>选择Excel文件导入</h1>

        <div style="margin-left: 10%;margin-right: 10%;padding-top: 3%">
            <table style="width: 100%" border="1">
                <thead style="font-size: 20px">
                <tr>
                    <th style="text-align: center">
                        <div style="margin: 0 auto;">
                            <!--<form class="form-horizontal" id="uploadForm" enctype="multipart/form-data" action="#" th:action="@{/import/upload.action}" method="post">-->
                        <form class="form-horizontal" id="uploadForm" enctype="multipart/form-data">
                        <input class="form-input" type="file" name="filename" multiple="multiple"></input>
                        <br/>
                        <!--<button type="submit" class="btn btn-primary">开始导入</button>-->
                        <button id="buttonImport" type="button" class="btn btn-primary" th:onclick="'javascript:startImport()'">开始导入</button>
                        </form>
                        <!--<div id="message" class="alert alert-danger" role="alert" th:text="${session.msg}">导入信息</div>-->
                            <div id="message" class="alert alert-danger" role="alert"></div>
                        </div>
                    </th>

                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>
<script th:inline="javascript">
    function startImport() {
        $("#buttonImport").attr("disabled","disabled")
        var uploadForm = $('#uploadForm')[0];
        var form = new FormData(uploadForm);
        var msg = $('#message');
        msg.html("正在导入中……")
        $.ajax({
            url: '/import/upload.action',
            type: 'POST',
            enctype: 'multipart/form-data',
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 0,
            dataType: 'text',
            success: function (data) {
                msg.html(data)
                $("#buttonImport").removeAttr("disabled")
            },
            error:function (data){
                msg.html("ajax发生错误！")
                $("#buttonImport").removeAttr("disabled")
            }
        })
    }
</script>

</body>
</html>